{block content}
<div class="container-fluid text-center" style="height: 100vh">
  <div class="row align-items-center" style="height: 100%">
<div class="col col-md-6 h-100 d-flex justify-content-center align-items-center bg-php">
<a n:href="Employee:list">
PHP version
</a>
</div>
<div class="col col-md-6 h-100 d-flex justify-content-center align-items-center bg-react">
<a  n:href="React:default">
React version
</a>
</div>
  </div>
<div>
